*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
    
body {
    font-family: 'Roboto', sans-serif;
    background-color: #FFF;
}

.weather_section {
    display: flex;
    flex-direction: column;
    background-image: url('/assets/images/sky.jpg') ;
    background-size: cover;
    background-position: fixed;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 100vh;
}

header {
    width: 100%;
}

h1 {
    color: #313131;
    padding-bottom: 5px;
    letter-spacing: 5px;
    font-size: 15px;
}

.city_search {
    width: 100%;
    max-width: 350px;
    padding: 10px 15px;
    border: none;
    outline: none;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 5px;
    color: #313131;
    font-size: 16px;
    transition: 0.8s ease-out;
    margin-right: 8px;
}

.city_search:hover {
    background-color: rgba(255, 255, 255, 0.7);
}

.city_search:focus {
    background-color: rgba(255, 255, 255, 0.7);
}

.weather_main {
    padding: 50px 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 10px auto 50px;
    background-color: rgba(255, 255, 255, 0.4);
    max-width: 450px;
    border-radius: 5px;
}

.location .city {
    color: #313131;
    font-size: 35px;
    font-weight: 800;
    letter-spacing: 5px;
    padding-bottom: 10px;
}

.location .date {
    color: #313131;
    font-size: 20px;
    padding-bottom: 40px;
}

.weather_now .temp {
    color: #313131;
    font-size: 80px;
    font-weight: 700;
}

.weather_now .weather_icon_today {
    width: 100%;
    max-width: 150px;
    padding-bottom: 20px;
    transition: 0.6s ease-out;
}

.weather_now .description, .high-low {
    color: #313131;
    font-size: 20px;
    padding-bottom: 20px;
}


.weather_weekly {
    display: flex;
    flex-direction: column;
    margin: 0 auto ;
    padding: 50px 20px 20px;
    width: 70%;
    border-radius: 5px;
    align-items: center;
}

.inputContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
}

.searchButton {
    font-size: 20px;
}

.searchButton:hover {
    color: #4d4d4d;
}

.forecast_main {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.days {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    color: #313131;
    font-size: 16px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    padding: 15px 0;
    margin: 10px;
    width: 100%;
}

.days:first-child {
    background-color: rgba(255, 255, 255, 0.4);
}

.days .temp {
    color: #313131;
    font-size: 30px;
    font-weight: 700;
    padding: 15px;
}

.days .weather_icon_today {
    width: 100%;
    max-width: 80px;
    padding-bottom: 20px;
    transition: 0.6s ease-out;
}

.days .description, .date, .high-low {
    color: #313131;
    font-size: 15px;
    padding-bottom: 20px;
}

.pac-container{
    border-radius: 0 0 5px 5px;
}

.pac-item {
    padding: 10px;
    border: none;
}

.pac-item:hover {
    background-color: #e2e2e2;
}

@media all and ( max-width: 1200px) {
    .weather_weekly {
        width: 100%;
        margin: 15px auto 0;
    }
}

@media all and ( max-width: 1000px) {
    .forecast_main{
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .days {
        width: 45%;
        margin: 10px 0 0;
    }

    .days:first-child {
        width: 100%;
    }

    .days .description, .date, .high-low {
        color: #313131;
        font-size: 18;
        padding-bottom: 20px;
    }

}

@media all and ( max-width: 500px) {
    .days {
        width:100%
    }

    .weather_main{
        margin: 0 auto;
        padding: 20px 10px;
    }

    .location .city {
        font-size: 30px;
    }

    .weather_now .temp {
        font-size: 60px;
    }

    .weather_now .weather_icon_today {
        max-width: 120px;
    }

    h1 {
        font-size: 18px;
        padding-bottom: 10px;
        text-align: center;
    }
}

@media all and ( max-width: 450px) {
    .weather_main {
        width: 90%;
        margin: 0 auto;
    }
}